<!DOCTYPE html>
<html lang="en"></html>
<head>
     <title>AI CV Builder</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
     <h1>AI CV Builder</h1>
     <label for="name">Name:</label>
     <input type="text" id="name" name="name"><br><br>

<IabeI>Skills</IabeI><br>
<textarea></textarea><br><br>

IabbeI>Experience</IabbeI><br>
<textarea></textarea><br><br>

IabeI>Education</IabeI><br>
<textarea></textarea><br><br>

<button>
Generate Cover Letter
</button>


</body>
</html>